p {
  line-height: 1.8;
}

h1, h2 {
  margin-top: 2em;
}

blockquote {
  color: grey;
  font-style: italic;
  font-size: 1.2em;
  border-left: 3px solid #979797;
  line-height: 1.5em;
  padding-left: 12px;
}

blockquote::before {
  content: open-quote;
  font-weight: bold;
}

blockquote::after {
  content: close-quote;
  font-weight: bold;
}
