/* Footer */
footer {
  background: #8DACD4;
  height: 100px;
  text-align: center;
}

.icons i {
  color: #fff;
  height: 16vh;;
  line-height: 16vh;
  padding: 12px;
}

footer .icons i:hover {
  color: #72532b;
  transition: all 0.5s ease-out;
}
